.nav-wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 15px 20px;
  margin-top:30px;
  display: grid;
  grid-template-columns:30% auto;
  background-color: red;
  text-decoration: underline; 
}

.burger-icon {
    display: none;
}

.nav-wrapper ul li {
    display: inline;
    list-style-type: none;
}

.main-wrapper {
    max-width: 1200px;
    margin: auto;
}

.wrapper {
    max-width: 100%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap:10px;
    grid-template-areas: 
      "featuredMain featuredMain featuredSub"
      "contentMain contentMain contentSub"
}

.featured {
    grid-area: featuredMain;
    min-height: 500px;
    background-color: purple;
}

.sub-featured {
    grid-area: featuredSub;
    background-color: blue;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
}

.sub1{
  background-color: green;
}

.sub2{
  background-color: green;
}

.sub3{
  background-color: green;
}

.main-content {
    grid-area: contentMain;
    background-color: orange;
}

.main-sidebar{
  grid-area:contentSub;
  background: yellow;
}

.footer{
  display: grid;
  margin:auto;
  grid-template-columns: minmax(20px, 300px) minmax(20px, 300px) minmax(20px, 300px) minmax(20px, 300px);
  justify-content: center;
  grid-template-rows: 1fr 1fr;
  background-color:#333;
  color:#fff; 
}

/* TABLET MEDIA QUERY*/

@media screen and (max-width: 950px){

  .wrapper {
    grid-template-areas: 
    "featuredMain featuredMain featuredMain"
    "featuredSub featuredSub featuredSub"
    "contentMain contentMain contentSub";
  }

  .sub-featured{
    grid-template-columns:repeat(3, 1fr);
  }

  .nav-items{
    grid-column:1/5;
    text-align: center;
  }

  .logo{ 
    grid-column: 1/5; 
    text-align: center; 
  }
  
  .nav-wrapper{
    margin-top: 0;
  }
}

/* MOBILE MEDIA QUERY*/

@media screen and (max-width: 690px){

  .logo{
    grid-column: 1/3;
  }

  .nav-items{
    grid-column: 1/5;
    text-align: center;
  }

  nav.nav-wrapper ul li {
    display: block;
  }

  nav.nav-wrapper ul {
      padding: 0;
      margin: 0;
  }

  .burger-icon {
      display: inline-block;
      justify-self: end;
      grid-column: 4/5;
      border: 2px solid #333;
      color: #333;
      padding: 10px;
      font-weight: bold;
      border-radius: 3px;
  }

  .burger-icon:hover {
    cursor:pointer
  }

  .wrapper{
    grid-template-areas:
      "featuredMain featuredMain featuredMain"
      "contentMain contentMain contentMain"
      "featuredSub featuredSub featuredSub"
      "contentSub contentSub contentSub"
  }

  .footer > div{
    grid-column: 1/-1;
  }

}